* {
  box-sizing: border-box;
}

body {
  /* background: dodgerblue; */
  background-image: url('image/4k-space-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  flex-direction: column;
}

h1 {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Press Start 2P', cursive
}

h2 {
  font-family: 'Press Start 2P', cursive
}

.point {
  font-family: 'Press Start 2P', cursive;
  font-size: 24px;
}

.laser {
  background-image: url('image/bullet.png');
  background-repeat: no-repeat;
  width: 3px;
}

.lives {
  font-family: 'Press Start 2P', cursive;
  font-size: 24px;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
}

.grid div {
  flex-grow: 1;
  height: calc(100% / 9);
  width: calc(100% / 9);
  /* border: 1px solid white; */
}

.grid div.player {
  background-image: url(image/space-invaders.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.grid div.player[data-direction="forward"] {
  transform: scaleX(1);
}

.grid div.player[data-direction="backward"] {
  transform: scaleX(-1);
}

.grid div.alien {
  content: url(image/aliens.png);
}

.grid div.bomb {
  background-color: red;
}

div.welcome_screen {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.hidden {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
