* {
  box-sizing: border-box;
}

body {
  background-image: url('images/space2.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  flex-direction: column;
  padding-bottom: 50px;
}

h1 {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Press Start 2P', cursive;
}

h2, h3, p {
  font-family: 'Press Start 2P', cursive;
  color: limegreen;
  padding: 0 100px;
}

h3 {
  text-decoration: underline;
}

p {
  font-size: 23px;
  line-height: 30px;
}

button {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    background-color: white;
    border-radius: 2px;
    width: 150px;
    height: 30px;
}

 .container {
  display: flex;
}

.point {
  margin-left: 20px;
}

.lives, .point {
  font-family: 'Press Start 2P', cursive;
  font-size: 24px;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
  border: 2px solid limegreen;
  border-radius: 9px;
}

.grid div {
  flex-grow: 1;
  height: calc(100% / 11);
  width: calc(100% / 11);
}

.laser {
  background-image: url(images/full-sprite-sheet.png);
  background-size: 576%;
  background-repeat: no-repeat;
  background-position-x: -269px;
  background-position-y: 16px;
}

.grid div.player {
  background-image: url(images/full-sprite-sheet.png);
  background-size: 550%;
  background-repeat: no-repeat;
  background-position-x: -267px;
  background-position-y: -35px;
}


.grid div.alien {
  background-image: url(images/full-sprite-sheet.png);
  background-size: 550%;
  background-repeat: no-repeat;
  background-position-x: -107px;
  background-position-y: -44px;
}

.grid div.bomb {
  background-image: url(images/full-sprite-sheet.png);
  background-size: 550%;
  background-repeat: no-repeat;
  background-position-x: -213px;
  background-position-y: -36px;
}

div.welcome_screen {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.hidden {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
